.search-tagging-wrapper {
    padding: 2px;
    background-color: #5d5d5d;
}

.delete-search-tagging {
    cursor: pointer;

    a {
        color: #000;
    }
}

.search-tagging-info-wrapper {
    background-color: #141414;
}
