<h1 class="mat-dialog-title">Edit Feature</h1>

<form [formGroup]="editFeatureForm">
  <div class="mat-dialog-content">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input type="text" matInput formControlName="name" placeholder="Name" required="required" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input type="number" matInput formControlName="order" placeholder="Order" required="required" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="text-right col-12">
        <mat-checkbox formControlName="active">Active</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="mat-dialog-actions justify-content-end">
    <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Edit</button>
    <button mat-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
  </div>
</form>
