:host {
    display: block;
}

.login-form-container {
    min-height: 100vh;
    background-color: #343a40;
}

.login-form-wrapper {
    width: 384px;
    max-width: 384px;
    box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
    background: #222;
}

.logo {
    width: 128px;
    opacity: 0.9;
    margin: 32px auto;
    height: 128px;
}

.title {
    margin: 16px 0 32px 0;    
    font-size: 20px;
}

.forgot-password {
    font-size: 0.9rem;
    color: #039be5;
}

.submit {
    width: 220px;
    margin: 16px auto;
    display: block;
}
