@import "/../../../../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

:host {
    padding: 0 12px 24px 12px;
    flex-basis: calc(100% / 6);
    display: block;
}

.product-item-top {
    &>img {
        &:hover {
            cursor: pointer;
        }
    }
    &:hover {
        .product-action {
            display: block !important;
        }
    }

    .product-action {
        position: absolute;
        opacity: 0.87;
        left: 0;
        bottom: 0;
    
        &:hover {
            cursor: pointer;
        }
    }
}

@include media-breakpoint-down(xl) {
    :host {
        flex-basis: calc(100% / 6);
    }
}

@include media-breakpoint-down(lg) {
    :host {
        flex-basis: calc(100% / 5);
    }
}

@include media-breakpoint-down(sm) {
    :host {
        flex-basis: calc(100% / 4);
    }
}

@include media-breakpoint-down(xs) {
    :host {
        flex-basis: calc(100% / 2);
    }
}

.product-name {
    font-size: 0.7rem !important;
    color: #e2e2e2 !important;
}

.product-item-body {
    background-color: #2a2a2a;

    p {
        font-size: 0.7rem;
        color: #6d6d6d;
    }
}
