<h1 class="mat-dialog-title">Add Parent Category</h1>

<div class="mat-dialog-content">
  <form [formGroup]="addParentCategoryForm">
    <div>
      <md-form-field class="w-100" color="accent">
        <input type="text" mdInput placeholder="Name" required="required" formControlName="name" />
      </md-form-field>
    </div>
    <div>
      <md-form-field class="w-100" color="accent">
        <input type="number" mdInput placeholder="Order" required="required" formControlName="order" />
      </md-form-field>
    </div>
  </form>
</div>

<div class="mat-dialog-actions justify-content-end">
  <button md-raised-button type="submit" (click)="onSubmit()" color="accent">Add</button>
  <button md-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
</div>
