<form class="p-5">
  <fieldset>
    <legend>
      Upload
    </legend>

    <form [formGroup]="addProductGroupForm">  
      <div class="row">
        <div class="col-6 form-group">
          <image-upload [max]="1" [buttonCaption]="'Product Group Image'" (onFileUploadFinish)="imageUploaded($event, 'product_group_image')" (onRemove)="imageRemoved($event, 'product_group_image')"></image-upload>
        </div>
        <div class="col-6 d-flex align-items-end form-group">
          <md-checkbox formControlName="active">Active</md-checkbox>
        </div>
      </div>

      <div formArrayName="products">
        <div *ngFor="let product of addProductGroupForm.controls.products.controls; let i = index">
          <div [formGroupName]="i">
            <mix-add-product-form [addProductForm]="addProductGroupForm.controls.products.controls[i]" (removeProduct)="removeProduct(i)" [index]="i" (productImageAction)="productImageChange($event)" (productId)="addProductId($event)"></mix-add-product-form>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-12 form-group">
          <button md-button color="add" (click)="addProduct()" class="text-white">Add Product</button>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-12 form-group text-right">
          <button md-button color="add" (click)="onSubmit()" class="text-white">Upload</button>
        </div>
      </div>
    </form>
  </fieldset>
</form>
