<form class="p-5">
  <fieldset>
    <legend>
      Upload
    </legend>

    <form [formGroup]="addProductGroupForm">  
      <div class="row">
        <div class="col-12 form-group">
          <div class="d-flex">
            <div class="product-group-wrapper w-100">
              <img alt="" #productGroupImagePreview id="productGroupImagePreview" />
            </div>
            <div *ngIf="isSelectImage" class="ml-2">
              <button class="btn btn-primary" (click)="cropper.zoom(0.1)">
                <a><span class="fa fa-search-plus"></span></a>
              </button>
              <button class="btn btn-primary" (click)="cropper.zoom(-0.1)">
                <a><span class="fa fa-search-minus"></span></a>
              </button>
            </div>
          </div>
          <image-upload [max]="1" [buttonCaption]="'Product Group Image'" (onFileUploadFinish)="imageUploaded($event)" (onRemove)="imageRemoved()" [preview]="false"></image-upload>
        </div>
        <div class="col-6 d-flex align-items-end form-group">
          <md-checkbox formControlName="active">Active</md-checkbox>
        </div>
      </div>

      <div formArrayName="products">
        <div *ngFor="let product of addProductGroupForm.controls.products.controls; let i = index">
          <div [formGroupName]="i">
            <mix-add-product-form [addProductForm]="addProductGroupForm.controls.products.controls[i]" (removeProduct)="removeProduct(i)" [index]="i" (productImageAction)="productImageChange($event)" (productId)="addProductId($event)"></mix-add-product-form>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-12 form-group">
          <button md-button color="add" (click)="addProduct()" class="text-white">Add Product</button>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-12 form-group text-right">
          <button md-button color="add" (click)="onSubmit()" class="text-white">Upload</button>
        </div>
      </div>
    </form>
  </fieldset>
</form>
