<form class="p-5">
  <fieldset>
    <legend>
      Upload
    </legend>

    <form [formGroup]="addSetForm">  
      <div class="row">
        <div class="col-12 form-group">
          <image-upload [max]="1" [buttonCaption]="'Item Group Image'" (onFileUploadFinish)="imageUploaded($event)" (onRemove)="imageRemoved()" [preview]="false"></image-upload>
          <div class="d-flex">
            <div class="set-wrapper">
              <img alt="" #setImagePreview id="setImagePreview" />
            </div>
            <div *ngIf="isSelectImage" class="ml-2">
              <button md-raised-button color="accent" (click)="cropper.zoom(0.1)">
                <a><span class="fa fa-search-plus"></span></a>
              </button>
              <button md-raised-button color="accent" (click)="cropper.zoom(-0.1)">
                <a><span class="fa fa-search-minus"></span></a>
              </button>
            </div>
          </div>
        </div>
        <div class="col-6 d-flex align-items-end form-group">
          <md-checkbox formControlName="active">Active</md-checkbox>
        </div>
      </div>

      <div formArrayName="items">
        <div *ngFor="let item of addSetForm.controls.items['controls']; let i = index">
          <div [formGroupName]="i">
            <mix-add-item-form [addItemForm]="addSetForm.controls.items.controls[i]" (removeItem)="removeItem(i)" [index]="i" (itemImageAction)="itemImageChange($event)" (itemId)="addItemId($event)"></mix-add-item-form>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-12 form-group">
          <button md-raised-button color="accent" (click)="addItem()">Add Item</button>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-12 form-group text-right">
          <button md-raised-button (click)="onSubmit()" color="accent">Upload</button>
        </div>
      </div>
    </form>
  </fieldset>
</form>
