:host {
    padding-left: 1vw;
    display: block;
}

.aside-wrapper {
    min-width: 254px;
    height: 1193px;
    background-color: #1d1d1d;
}

.search-wrapper {
    position: relative;
    padding-right: 17px;
    border-bottom: 1px solid #dbdedb;

    .search {
        width: 100%;
        outline: none;
        color: white;
        border: none;
        background-color: transparent;
    }

    .search-icon {
        top: 0;
        right: 0;
        position: absolute;
    }
}

.border-bottom {
    border-bottom: 2px solid #404040;
}

.sub-category {
    color: #b2b1b1;

    p {
        margin-bottom: 0;
    }
}
