:host {
    padding-left: 1vw;
    display: block;
}

.aside-wrapper {
    min-width: 254px;
    max-height: 1193px;
    background-color: #1d1d1d;
}

.search-wrapper {
    position: relative;
    padding-right: 17px;
    border-bottom: 1px solid #dbdedb;

    .search {
        width: 100%;
        outline: none;
        color: white;
        border: none;
        background-color: transparent;

        &::-webkit-input-placeholder {
            font-style: italic;
        }
    }

    .search-icon {
        top: 0;
        right: 0;
        position: absolute;

        button {
            outline: none;
            cursor: pointer;
            color: white;
            border: none;
            background-color: transparent;
        }
    }
}

.border-bottom {
    border-bottom: 2px solid #404040;
}

.sub-category {
    color: #b2b1b1;

    p {
        margin-bottom: 0;
    }
}

.active {
    transition: padding 200ms ease, background 200ms linear;
    padding-left: 1.5rem !important;
    background: rgba(107, 99, 90, 0.12);
}
