:host {
    z-index: 9999;
    width: 100%;
    top: 45px;
    position: absolute;
    left: 0;
    background-color: #3a3a3a;
}

.selected-tagging {
    opacity: 0.6;
    background-color: #575757 !important;
}

.row-container {
    position: relative;

    .feature-label {
        text-transform: uppercase;
        position: absolute;
        left: 0;
    }
}

.feature-wrapper {
    a {
        padding: 1px 10px;
    }
}

.border-bottom {
    border-bottom: 3px solid #9d9d9d;
}

.color {
    width: 55px;
    height: 15px;
    display: inline-block;
    border: 1px solid #787878;
}

.d-inline-flex {
    &:hover {
        opacity: .6;
    }

    a {
        &:hover {
            opacity: 1;
        }
    }
}