:host {
    display: block;
}

.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    width: 40px;
    height: 58px;
    cursor: pointer;
    overflow: hidden;
}

.jssora22l {
    background: url(http://i.imgur.com/N0iLNfz.png) center center no-repeat;
}

.jssora22r {
    background: url(http://i.imgur.com/zKqUS4u.png) center center no-repeat;
}
