<div class="left-navbar md-mix-dark-500-bg initialized">
  <div class="navbar-header d-flex align-items-center justify-content-between">
    <div class="logo d-flex flex-row align-items-center">
      <a mixGoToHomepage><span class="logo-icon">M</span></a>
      <a mixGoToHomepage><span class="logo-text">MIX</span></a>
    </div>
    <button mat-icon-button mat-button>
      <mat-icon role="img" aria-hidden="true">menu</mat-icon>
    </button>
  </div>

  <div class="navbar-content">
    <div class="mix-nav">
      <div class="nav-subheader d-flex align-items-center">
        <span class="hint-text text-uppercase">Menu</span>
      </div>
      <div class="nav-collapse nav-item" [ngClass]="{'open': !isCollapsed}">
        <a class="nav-link d-flex align-items-center w-100" (click)="isCollapsed = !isCollapsed">
          <mat-icon class="nav-link-icon d-flex align-items-center">dashboard</mat-icon>
          <span class="nav-link-title">
            Dashboards
          </span>
          <mat-icon class="collapse-arrow d-flex align-items-center">keyboard_arrow_right</mat-icon>
        </a>
        <div [collapse]="isCollapsed" class="collapse-children">
          <button mat-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/upload" routerLinkActive="active-aside-menu">
            Upload
          </button>
          <button mat-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/item" routerLinkActive="active-aside-menu">
            Item
          </button>
          <!-- <button mat-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/set" routerLinkActive="active-aside-menu">
            Set
          </button> -->
          <button mat-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/category" routerLinkActive="active-aside-menu">
            Category
          </button>
          <button mat-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/collection" routerLinkActive="active-aside-menu">
            Collection
          </button>
          <button mat-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/feature" routerLinkActive="active-aside-menu">
            Feature
          </button>
          <button mat-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/supplier" routerLinkActive="active-aside-menu">
            Shop
          </button>
        </div>
      </div>
    </div>
  </div>
</div>