<div class="search-box-container d-flex align-items-center m-auto pb-1" [ngClass]="{'w-75': !isMobile, 'w-100': isMobile}">
  <form class="w-100 d-flex flex-wrap search-box" (ngSubmit)="onSubmit()">
    <mix-search-tagging-list>
    </mix-search-tagging-list>
    
    <input type="text" placeholder='Nhập hoặc chọn "Menu" bên dưới để tìm sản phẩm' class="mx-1" [formControl]="itemName" />
    <div class="d-flex align-items-center search-icon" (click)="onSubmit()">
      <img src="http://i.imgur.com/lga22vW.png" alt="search-icon" />
    </div>
  </form>
</div>
