<div class="w-100 login-form-container d-flex justify-content-center">
  <div class="p-4 d-flex justify-content-center">
    <div class="login-form-wrapper w-100">
      <div class="logo d-flex align-items-center justify-content-center">
        <img src="http://i.imgur.com/qwR1IG9.png" alt="" />
      </div>
      <div class="title text-uppercase text-center">
        login to your account
      </div>
      <form class="px-4 text-center" [formGroup]="loginForm">
        <md-form-field class="w-100" color="accent">
          <input type="text" mdInput placeholder="Email" required="required" formControlName="email" />
          <md-error *ngIf="loginForm.controls.email.errors?.required">Email is required</md-error>
        </md-form-field>
        <md-form-field class="w-100" color="accent">
          <input type="password" mdInput placeholder="Password" required="required" formControlName="password" />
          <md-error *ngIf="loginForm.controls.password.errors?.required">Password is required</md-error>
        </md-form-field>
        <div class="d-flex justify-content-between mt-3">
          <md-checkbox style="font-size: 0.9rem" color="accent">Remember me</md-checkbox>
          <a href="#" class="forgot-password">Forgot password?</a>
        </div>
        <button md-raised-button type="submit" (click)="onSubmit()" class="mt-3">Login</button>
      </form>
    </div>
  </div>
</div>