<form class="p-5">
  <fieldset>
    <div [formGroup]="addProductForm">
      <div class="row">
        <div class="col-5 form-group">
          <mix-search-product (productChange)="selectedProduct($event)" [index]="index"></mix-search-product>
        </div>
      </div>
      <div *ngIf="!isDisabled">
        <div class="row">
          <div class="col-4 form-group">
            <md-input-container>
              <input type="text" mdInput formControlName="name" placeholder="Product Name" required="required" />
            </md-input-container>
          </div>
          <div class="col-4 form-group">
            <md-input-container>
              <input type="number" mdInput formControlName="price" placeholder="Product Price" required="required" />
            </md-input-container>
          </div>
          <div class="col-4 form-group">
            <md-input-container>
              <input type="number" mdInput formControlName="discount" placeholder="Product Discount" />
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-6 form-group">
            <image-upload [max]="1" [buttonCaption]="'Product Image'" (onFileUploadFinish)="imageUploaded($event)" (onRemove)="imageRemoved($event)"></image-upload>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 form-group">
            <md-select formControlName="supplier" placeholder="Shop" required="required">
              <md-option *ngFor="let supplier of suppliers" [value]="supplier.id">{{ supplier.name }}</md-option>
            </md-select>
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <md-radio-group required="required" formControlName="gender">
              <md-radio-button [value]="gender.male.id" (click)="getCategories(gender.male.id)">
                {{ gender.male.name }}
              </md-radio-button>
              <md-radio-button [value]="gender.female.id" (click)="getCategories(gender.female.id)">
                {{ gender.female.name }}
              </md-radio-button>
            </md-radio-group>
          </div>
        </div>

        <div class="row mt-2" *ngIf="addProductForm.value.gender">
          <div class="col-6 form-group">
            <md-select formControlName="category" placeholder="Category">
              <md-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</md-option>
            </md-select>
          </div>
        </div>

        <div class="row">
          <div class="col-6 d-flex align-items-end form-group">
            <md-checkbox formControlName="active">Active</md-checkbox>
          </div>
        </div>
        <select multiple formControlName="features" *ngIf="features.length">
          <ng-container *ngFor="let feature of features">
            <option disabled="disabled" class="feature-option">+ {{ feature.name }}</option>
            <option *ngFor="let feature_value of feature.feature_values" [value]="feature_value.id">{{ feature_value.vi_name }}</option>
          </ng-container>
        </select>
      </div>
      
      <div *ngIf="isDisabled && product">
        <div class="row form-group">
          <div class="col-1 form-group">
            <div class="image-wrapper image-2-3">
              <img [src]="product.img" alt="" />
            </div>
          </div>
          <div class="col-9 form-group d-flex align-items-center">
            {{ product.name }}
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
