<div class="bg-dark">
  <div class="modal-header">
    <h4 class="modal-title pull-left pr-3 text-white">Add Feature Value</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="addFeatureValueForm">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <md-select placeholder="Feature" class="d-flex align-items-center" formControlName="feature">
            <md-option *ngFor="let feature of features" [value]="feature.id">
              {{ feature.name }}
            </md-option>
          </md-select>
        </div>
        <div class="col-md-6">
          <md-input-container class="w-100">
            <input type="number" mdInput formControlName="order" placeholder="Order" required="required" class="text-white" />
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <md-input-container class="w-100">
            <input type="text" mdInput formControlName="vi_name" placeholder="Vi Name" required="required" class="text-white" />
          </md-input-container>
        </div>
        <div class="col-md-6">
          <md-input-container class="w-100">
            <input type="text" mdInput formControlName="dev_name" placeholder="Dev Name" class="text-white" />
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="text-right col-12">
          <md-checkbox formControlName="active" class="text-white">Active</md-checkbox>
        </div>
      </div>
      <div class="row mt-4">
        <div class="text-right col-12">
          <button md-button type="submit" class="text-white" (click)="onSubmit()" color="add">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
