@import "/../../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.border {
    border: 1px solid #a7a7a7 !important;
}

.involve-collection {
    flex-basis: 20%;
    
    a {
        display: block;
    }
}

@include media-breakpoint-down(md) {
    .involve-collection {
        flex-basis: calc(100% / 3);
    }
}

@include media-breakpoint-down(sm) {
    .involve-collection {
        flex-basis: calc(100% / 2);
    }
}