<div class="involve-collection-wrapper px-4">
  <div class="px-3">
    <hr class="border">
    <div class="involve-collection-title">
      <h5 class="mb-3">Chủ đề liên quan</h5>
    </div>
  </div>
  <div class="list-involve-collection d-flex flex-wrap">
    <div class="involve-collection p-3">
      <a>
        <div class="image-wrapper image-15-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT6N9Rt1VvolcLRd25r41q5lqhlEkVuna25GtizfF3TVK42maW" alt="" />
        </div>
      </a>
    </div>
    <div class="involve-collection p-3">
      <a>
        <div class="image-wrapper image-15-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT6N9Rt1VvolcLRd25r41q5lqhlEkVuna25GtizfF3TVK42maW" alt="" />
        </div>
      </a>
    </div>
    <div class="involve-collection p-3">
      <a>
        <div class="image-wrapper image-15-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT6N9Rt1VvolcLRd25r41q5lqhlEkVuna25GtizfF3TVK42maW" alt="" />
        </div>
      </a>
    </div>
    <div class="involve-collection p-3">
      <a>
        <div class="image-wrapper image-15-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT6N9Rt1VvolcLRd25r41q5lqhlEkVuna25GtizfF3TVK42maW" alt="" />
        </div>
      </a>
    </div>
    <div class="involve-collection p-3">
      <a>
        <div class="image-wrapper image-15-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT6N9Rt1VvolcLRd25r41q5lqhlEkVuna25GtizfF3TVK42maW" alt="" />
        </div>
      </a>
    </div>
    <div class="involve-collection p-3">
      <a>
        <div class="image-wrapper image-15-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT6N9Rt1VvolcLRd25r41q5lqhlEkVuna25GtizfF3TVK42maW" alt="" />
        </div>
      </a>
    </div>
    <div class="involve-collection p-3">
      <a>
        <div class="image-wrapper image-15-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT6N9Rt1VvolcLRd25r41q5lqhlEkVuna25GtizfF3TVK42maW" alt="" />
        </div>
      </a>
    </div>
    <div class="involve-collection p-3">
      <a>
        <div class="image-wrapper image-15-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT6N9Rt1VvolcLRd25r41q5lqhlEkVuna25GtizfF3TVK42maW" alt="" />
        </div>
      </a>
    </div>
    <div class="involve-collection p-3">
      <a>
        <div class="image-wrapper image-15-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT6N9Rt1VvolcLRd25r41q5lqhlEkVuna25GtizfF3TVK42maW" alt="" />
        </div>
      </a>
    </div>
    <div class="involve-collection p-3">
      <a>
        <div class="image-wrapper image-15-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT6N9Rt1VvolcLRd25r41q5lqhlEkVuna25GtizfF3TVK42maW" alt="" />
        </div>
      </a>
    </div>
  </div>
</div>