  <h1 class="mat-dialog-title">Add Feature Value</h1>

<div class="mat-dialog-content">
  <form [formGroup]="addFeatureValueForm">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <mat-select placeholder="Feature" class="d-flex align-items-center" formControlName="feature" color="accent">
          <mat-option *ngFor="let feature of features" [value]="feature.id">
            {{ feature.name }}
          </mat-option>
        </mat-select>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input type="number" matInput formControlName="order" placeholder="Order" required="required" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input type="text" matInput formControlName="vi_name" placeholder="Vi Name" required="required" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input type="text" matInput formControlName="dev_name" placeholder="Dev Name" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="text-right col-12">
        <mat-checkbox formControlName="active">Active</mat-checkbox>
      </div>
    </div>
  </form>
</div>

<div class="mat-dialog-actions justify-content-end">
  <button mat-raised-button type="submit" (click)="onSubmit()" color="accent">Add</button>
  <button mat-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
</div>
