<div class="modal-header">
  <h4 class="modal-title pull-left pr-3 text-dark">Edit Shop</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="editSupplierForm">
    <div class="row">
      <div class="col-md-6">
        <md-input-container class="w-100">
          <input type="text" class="text-dark" mdInput formControlName="name" placeholder="Name" required="required" />
        </md-input-container>
      </div>
      <div class="col-md-6">
        <md-input-container class="w-100">
          <input type="text" mdInput class="text-dark" formControlName="address" placeholder="Address" required="required" />
        </md-input-container>
      </div>
    </div>    
    <div class="row">
      <div class="col-md-6">
        <md-input-container class="w-100">
          <input type="text" mdInput class="text-dark" formControlName="facebook_link" placeholder="Facebook Link" />
        </md-input-container>
      </div>
      <div class="col-md-6">
        <md-input-container class="w-100">
          <input type="text" mdInput class="text-dark" formControlName="facebook_title" placeholder="Facebook Title" />
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <md-input-container class="w-100">
          <input type="text" mdInput class="text-dark" formControlName="instagram_link" placeholder="Instagram Link" />
        </md-input-container>
      </div>
      <div class="col-md-6">
        <md-input-container class="w-100">
          <input type="text" mdInput class="text-dark" formControlName="instagram_title" placeholder="Instagram Title" />
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <image-upload [max]="1" [buttonCaption]="'Background Image'" (onFileUploadFinish)="imageUploaded($event, 'background_image')" (onRemove)="imageRemoved($event, 'background_image')" [preview]="false"></image-upload>
        <div class="d-flex">
          <div class="wrapper-percentage image-21-9">
            <div>
              <img alt="" #supplierBackgroundImagePreview />
            </div>
          </div>
          <div *ngIf="isSelectBackgroundImage" class="ml-2">
            <button class="btn btn-primary" (click)="cropper.zoom(0.1)">
              <a><span class="fa fa-search-plus"></span></a>
            </button>
            <button class="btn btn-primary" (click)="cropper.zoom(-0.1)">
              <a><span class="fa fa-search-minus"></span></a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <image-upload [max]="1" [buttonCaption]="'Avatar'" (onFileUploadFinish)="imageUploaded($event, 'avatar')" (onRemove)="imageRemoved($event, 'avatar')" [preview]="false"></image-upload>
        <div class="d-flex">
          <div class="wrapper-percentage image-1-1">
            <div>
              <img alt="" #supplierAvatarImagePreview />
            </div>
          </div>
          <div *ngIf="isSelectAvatarImage" class="ml-2">
            <button class="btn btn-primary" (click)="cropper.zoom(0.1)">
              <a><span class="fa fa-search-plus"></span></a>
            </button>
            <button class="btn btn-primary" (click)="cropper.zoom(-0.1)">
              <a><span class="fa fa-search-minus"></span></a>
            </button>
          </div>
        </div>
      </div>
    </div>>
    <div class="row">
      <div class="text-right col-12">
        <md-checkbox formControlName="active" class="text-dark">Active</md-checkbox>
      </div>
    </div>
    <div class="row mt-4">
      <div class="text-right col-12">
        <button md-button type="submit" class="text-white" (click)="onSubmit()" color="add">Edit</button>
      </div>
    </div>
  </form>
</div>
