<h1 class="mat-dialog-title">Edit Shop</h1>

<form [formGroup]="editSupplierForm">
  <div class="mat-dialog-content">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input type="text" mdInput formControlName="name" placeholder="Name" required="required" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input type="text" mdInput formControlName="address" placeholder="Address" required="required" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="w-100" color="accent">
          <input type="text" mdInput formControlName="phone_number" placeholder="Phone Number" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field style="width: 200px" color="accent">
          <input type="number" mdInput formControlName="open_time" placeholder="Open Time" [min]="0" [max]="23" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field style="width: 200px" color="accent">
          <input type="number" mdInput formControlName="close_time" placeholder="Close Time" [min]="0" [max]="23" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input type="text" mdInput formControlName="facebook_link" placeholder="Facebook Link" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input type="text" mdInput formControlName="facebook_title" placeholder="Facebook Title" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input type="text" mdInput formControlName="instagram_link" placeholder="Instagram Link" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input type="text" mdInput formControlName="instagram_title" placeholder="Instagram Title" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <image-upload [max]="1" [buttonCaption]="'Background Image'" (onFileUploadFinish)="imageUploaded($event, 'background_image')" (onRemove)="imageRemoved($event, 'background_image')" [preview]="false"></image-upload>
        <div class="d-flex">
          <div class="supplier-background-wrapper">
            <img alt="" #supplierBackgroundImagePreview />
          </div>
          <div *ngIf="isSelectBackgroundImage" class="ml-2">
            <button mat-raised-button color="accent" (click)="cropper.zoom(0.1)">
              <a><span class="fa fa-search-plus"></span></a>
            </button>
            <button mat-raised-button color="accent" (click)="cropper.zoom(-0.1)">
              <a><span class="fa fa-search-minus"></span></a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <image-upload [max]="1" [buttonCaption]="'Avatar'" (onFileUploadFinish)="imageUploaded($event, 'avatar')" (onRemove)="imageRemoved($event, 'avatar')" [preview]="false"></image-upload>
        <div class="d-flex">
          <div class="supplier-avatar-wrapper">
            <img alt="" #supplierAvatarImagePreview />
          </div>
          <div *ngIf="isSelectAvatarImage" class="ml-2">
            <button mat-raised-button color="accent" (click)="cropper.zoom(0.1)">
              <a><span class="fa fa-search-plus"></span></a>
            </button>
            <button mat-raised-button color="accent" (click)="cropper.zoom(-0.1)">
              <a><span class="fa fa-search-minus"></span></a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-right col-12">
        <mat-checkbox formControlName="active">Active</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="mat-dialog-actions justify-content-end">
    <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Save</button>
    <button mat-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
  </div>
</form>
