<h4 class="mat-dialog-title">Edit Feature Value</h4>

<div class="mat-dialog-content">
  <form [formGroup]="editFeatureValueForm">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <md-select placeholder="Feature" class="d-flex align-items-center" formControlName="feature" color="accent">
          <md-option *ngFor="let feature of features" [value]="feature.id">
            {{ feature.name }}
          </md-option>
        </md-select>
      </div>
      <div class="col-md-6">
        <md-form-field class="w-100" color="accent">
          <input type="number" mdInput formControlName="order" placeholder="Order" required="required" />
        </md-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <md-form-field class="w-100" color="accent">
          <input type="text" mdInput formControlName="vi_name" placeholder="Vi Name" required="required" />
        </md-form-field>
      </div>
      <div class="col-md-6">
        <md-form-field class="w-100" color="accent">
          <input type="text" mdInput formControlName="dev_name" placeholder="Dev Name" />
        </md-form-field>
      </div>
    </div>
    <div class="row">
      <div class="text-right col-12">
        <md-checkbox formControlName="active" class="text-white">Active</md-checkbox>
      </div>
    </div>
  </form>
</div>

<div class="mat-dialog-actions justify-content-end">
  <button md-raised-button type="submit" (click)="onSubmit()" color="accent">Save</button>
  <button md-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
</div>
  