<h1 class="mat-dialog-title">Edit Collection</h1>

<form [formGroup]="editCollectionForm" enctype='multipart/form-data'>
  <div class="mat-dialog-content">
    <div class="row">
      <div class="col-md-6">
        <md-form-field class="w-100" color="accent">
          <input type="text" mdInput formControlName="name" placeholder="Name" required="required" />
        </md-form-field>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <md-checkbox formControlName="active">Active</md-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <image-upload [max]="1" [buttonCaption]="'Collection Image'" (onFileUploadFinish)="imageUploaded($event)" (onRemove)="imageRemoved()" [preview]="false"></image-upload>
        <div class="d-flex">
          <div class="collection-image-wrapper">
            <img alt="" #collectionImagePreview id="collectionImagePreview" />
          </div>
          <div *ngIf="isSelectImage" class="ml-2">
            <button md-raised-button color="accent" (click)="cropper.zoom(0.1)">
              <a><span class="fa fa-search-plus"></span></a>
            </button>
            <button md-raised-button color="accent" (click)="cropper.zoom(-0.1)">
              <a><span class="fa fa-search-minus"></span></a>
            </button>
          </div>
        </div>
        <div class="image-wrapper image-17-4" *ngIf="collectionImage">
          <img [src]="collectionImage" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="mat-dialog-actions justify-content-end">
    <button md-raised-button type="submit" (click)="onSubmit()" color="accent">Save</button>
    <button md-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
  </div>
</form>
