<div class="d-sm-flex justify-content-center p-3 pb-4" style="border-bottom: 2px solid #4c4c4c">
  <div class="item-image">
    <div class="image-wrapper image-3-4">
      <img [src]="mixPath + selectedSet?.tmp_img" alt="" />
    </div>
    <div class="item-item-image-wrapper">
      <div class="d-flex align-items-center justify-content-between h-100 py-2" [swiper]="swiperConfig">
        <a class="px-2 swiper-button-wrapper"><i class="fa fa-angle-left" id="item-prev"></i></a>
        <div class="list-item-item d-flex swiper-container">
          <div class="w-100 text-center swiper-wrapper">
            <a class="item-item swiper-slide" *ngFor="let item of selectedSet?.items" (click)="selectItem(item)">
              <img [src]="mixPath + item.img" alt="" class="rounded-circle" />
            </a>
            <a class="item-item swiper-slide" (click)="selectItem(selectedSet?.items[0], selectedSet?.img)">
              <img [src]="mixPath + selectedSet?.img" alt="" class="rounded-circle" />
            </a>
          </div>
        </div>
        <a class="px-2 swiper-button-wrapper"><i class="fa fa-angle-right" id="item-next"></i></a>
      </div>
    </div>
  </div>

  <div class="right-item-detail text-left pl-3 pr-4 d-none d-md-block">
    <div class="right-item-detail-header d-inline-block">
      <h5 class="text-uppercase text-left" style="font-size: 15.89px">{{ selectedItem?.name }}</h5>
      <a><div class="text-uppercase text-right collection-name">{{ selectedSet?.collection?.name }}</div></a>
      <hr />
      <h6 class="pl-3 text-left" style="font-size: 14px">Thông tin</h6>
      <hr class="mt-0" />
    </div>
    
    <div class="right-item-detail-content pl-2">
      <p><strong>-Shop: <a (click)="goToSupplierPage(selectedItem?.supplier)"><span class="text-uppercase">{{ selectedItem?.supplier?.name }}</span></a></strong></p>
      <p *ngFor="let feature of selectedItem?.features">-{{ feature.name }}:
        <span *ngFor="let featureValue of feature?.value; let i = index; let l = last">
          {{ featureValue }}
          <span *ngIf="!l">, </span>
        </span>
      </p>
      <p>-Địa chỉ: {{ selectedItem?.supplier?.address }}</p>
    </div>

    <div class="d-flex justify-content-center" *ngIf="isChange">
      <a class="change-button py-1 px-2 text-white" (click)="getSetByItem()">CHANGE</a>
    </div>
  </div>
</div>
<mix-mix-item></mix-mix-item>
