@import "../../../../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

:host {
    display: block;
}

.mix-item-wrapper {
    width: 574px;
    position: relative;
}

@include media-breakpoint-down(md) {
    .mix-item-wrapper {
        width: 100%;
    }
}

.swiper-wrapper {
    margin-right: 20px;
    margin-left: 90px;
}


.swiper-button-wrapper {
    width: 27px;

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }
}

.upload-mix-item-wrapper {
    z-index: 9;
    top: 0;
    position: absolute;
    padding-right: 24px;
    left: 0;
    cursor: pointer;
    background-color: #2b2b2b;

    .upload-mix-item {
        width: 74px;
        padding: 15px 10px;
        background-color: #8b8a8a;

        &>span {
            font-size: 76px;
        }
    }
}

img {
    cursor: pointer;
}
