<div class="modal-header">
  <h4 class="modal-title pull-left pr-3 text-dark">Add Collection</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="addCollectionForm" enctype='multipart/form-data'>
    <div class="row">
      <div class="col-md-6">
        <md-input-container class="w-100">
          <input type="text" class="text-dark" mdInput formControlName="name" placeholder="Name" required="required" />
        </md-input-container>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <md-checkbox formControlName="active" class="text-dark">Active</md-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <image-upload [max]="1" [buttonCaption]="'Image'" (onFileUploadFinish)="imageUploaded($event)" (onRemove)="imageRemoved()" [preview]="false"></image-upload>
        <div class="d-flex">
          <div class="collection-image-wrapper">
            <img alt="" #collectionImagePreview id="collectionImagePreview" />
          </div>
          <div *ngIf="isSelectImage" class="ml-2">
            <button class="btn btn-primary" (click)="cropper.zoom(0.1)">
              <a><span class="fa fa-search-plus"></span></a>
            </button>
            <button class="btn btn-primary" (click)="cropper.zoom(-0.1)">
              <a><span class="fa fa-search-minus"></span></a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="text-right col-12">
        <button md-button type="submit" class="text-white" (click)="onSubmit()" color="add">Add</button>
      </div>
    </div>
  </form>
</div>
