@import '/../../../../../assets/styles/_variables.scss';

:host {
    display: block;
}

.nav-fill {
    background-color: $nav-color;
    
    &>.nav-item {
        &.open {
            background-color: #343433;
        }
        &:hover {
            background-color: #343433;
        }
    }
    .text-uppercase {
        color: #bcbcbc;
    }
}

.dropdown-menu {
    opacity: 0.97;
    border-radius: unset;
    border: none;
    background-color: transparent;

    .inner-dropdown-menu {
        background-color: $category-background-color;
    }

    a {
        color: $text-color;
    }
}

.border {
    border-color: #686868;
}
