$main-color: #1d1c1c;
$header-color: #141414;
$nav-color: #212121;
$nav-hover-color: #323232;
$link-hover-color: #777777;
$menu-background-color: #353434;
$border-color: #8c8b8b;
$category-background-color: #2e2e2e;
$text-color: #f5f5f5;
