@import './_variables.scss';

body {
    line-height: $line-height-base;
    font-size: $font-size-base;
    font-family: $font-family-base;
    color: #fff;
    background-color: $main-color;
}

a {
    cursor: pointer;
}

legend {
    width: auto;
    color: #0c4e84;
}

fieldset {
    padding: 1rem;
    border: 2px threedface groove;
}

.blur {
    filter: blur(5px);
}

.box-shadow {
    box-shadow: 0 0 10px #888888;
}

.container-fluid {
    padding: 0;
}

a:hover, .navbar-toggler:hover {
    opacity: 0.6;
    color: $link-color;
}

a:hover, a:focus, a:active, a:visited {
    background-color: transparent !important;
}

.navbar-toggler:hover {
    cursor: pointer;
}

button[color="add"] {
    background-color: #039be5;
}
button[color="delete"] {
    background-color: #EA63A5;
}
button {
    &:focus {
        outline: 5px auto rgba(255, 255, 255, 0.1);
    }
    &.close {
        cursor: pointer;
    }
    
}

/**------------------- Image Wrapper Style -------------------**/
.image-wrapper {
    width: 100%;
    position: relative;

    img {
        width: 100%;
        max-width: 100%;
        top: 0;
        position: absolute;
        left: 0;
        height: 100%;        
        max-height: 100%;
    }
}
.image-21-9 {
    padding-top: calc(100% * 9 / 21);
}
.image-16-9 {
    padding-top: calc(100% * 9 / 16);
}
.image-1-1 {
    padding-top: 100%;
}
.image-2-3 {
    padding-top: calc(100% * 3 / 2);
}

/**------------------- Textarea Readonly Style -------------------**/
.textare-readonly {
    outline: none;
    color: currentColor;
    border: none;
    background-color: transparent;
}

/**------------------- Modal Style -------------------**/
.modal {
    z-index: 4900;
    text-align: center;
}

.modal::before {
    vertical-align: middle;
    margin-right: -4px;    
    height: 100%;
    display: inline-block;
    content: '';
}

.modal-dialog {
    vertical-align: middle;    
    display: inline-block;
}

.modal-content {
    color: #000;
    border-radius: unset;
    border: none;
}

/**------------------- Material themes custom -------------------**/
.mat-input-placeholder, .mat-focused .mat-input-placeholder {
    color: #868e96 !important;
}

.mat-select-value, .mat-select-arrow, .mat-select-underline, .mat-select-trigger {
    color: #868e96;
}

.mat-radio-outer-circle {
    border-color: #868e86;
}

.mat-select-underline {
    height: 2px !important;
    background-color: #868e96;
}

.mat-input-underline, .mat-input-ripple, .mat-focused .mat-input-ripple {
    background-color: #868e96 !important;
}

.mat-checkbox-frame {
    border-color: #868e96;
}

.mat-input-invalid {
    .mat-input-ripple {
        background-color: #f44336 !important;
    }
    .mat-input-placeholder {
        color: #f44336 !important;
    }
}


.cdk-overlay-container {
    z-index: 5000;
}

.mat-input-underline {
    height: 2px !important;
}
// End Material themes custom //

.submit {
    background-color: #2e2e2e;    
}

.active-aside-menu {
    background-color: #039be5;

    &:hover {
        background-color: #039be5 !important;
    }
}

.feature-option {
    font-weight: bold;
    color: #10323F;
}
