<nav class="navbar navbar-dark top-nav">
  <a href="" class="navbar-brand mix-logo">
    <img src="http://i.imgur.com/qwR1IG9.png" alt="MIX-shop" class="img-responsive" />
  </a>
  <mix-search-box></mix-search-box>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="">
    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
      <path stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
    </svg>
  </button>
</nav>
