:host {
    flex-grow: 1;
    display: block;
}

a {
    &.nav-link {
        color: #a8a8a8;
        border-bottom: 1px solid #d6d6d6;

        &.active {
            .fa-angle-down {
                display: block !important;
            }
            border-bottom-width: 3px;
            border-bottom-color: #000;
        }

        &:hover {
            border-bottom-width: 3px;
            border-bottom-color: #000;
        }
    }
}

.gender-selection {
    padding: 8px;
    opacity: 1 !important;
    font-size: 30px;
    font-size: 28px;
    border-radius: 30%;
    background-color: #151515 !important;
    
    .dropdown-menu {
        min-width: unset;
        left: 6px !important;
        border: none;
        background-color: transparent;
    }
}
