:host {
    flex-grow: 1;
    display: block;
}

a {
    &.nav-link {
        color: #a8a8a8;
        border-bottom: 1px solid #d6d6d6;

        &.active {
            .fa-angle-down {
                display: block !important;
            }
            border-bottom-width: 3px;
            border-bottom-color: #000;
        }

        &:hover {
            border-bottom-width: 3px;
            border-bottom-color: #000;
        }
    }
}
