<div class="main-body-header px-3 d-flex">
  <!-- <div dropdown class="pt-2">
    <a dropdownToggle class="btn-group gender-selection">
      <i class="fa fa-transgender"></i>
      <ul *dropdownMenu class="dropdown-menu">
        <li style="padding-left: 2px" class="pb-1"><a class="gender-icon male-icon d-inline-block"></a></li>
        <li><a class="gender-icon female-icon d-inline-block"></a></li>
      </ul>
    </a>
  </div> -->
  <ul class="nav justify-content-end w-100">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center pb-0" [ngClass]="{'active': isNewest}" (click)="onClick(itemType.newest)">
        <i class="fa fa-angle-down d-none"></i>
        <div class="px-3">Mới nhất</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center pb-0" [ngClass]="{'active': isMostLike}" (click)="onClick(itemType.mostLike)">
        <i class="fa fa-angle-down d-none"></i>
        <div class="px-3">Thích nhiều nhất</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center pb-0" [ngClass]="{'active': isSale}" (click)="onClick(itemType.sale)">
        <i class="fa fa-angle-down d-none"></i>
        <div class="px-3">Sale</div>
      </a>
    </li>
  </ul>
</div>

<div class="ml-lg-5 item-list-wrapper" style="margin-top: 26px">
  <mix-item-list [itemGroups]="itemGroups"></mix-item-list>
</div>
