<div class="aside-wrapper pb-5">
  <div class="pt-3 px-2 w-100">
    <form class="search-wrapper pl-2" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="tìm nhanh đồ của shop này..." class="search" [formControl]="itemName" />
      <div class="search-icon">
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>
  <div class="pt-4 pl-3 border-bottom" [ngClass]="{active: selectedSetType === setType.newest}">
    <a (click)="selectSetType(setType.newest)">Những Sản phẩm mới</a>
  </div>
  <div class="pt-4 pl-3 border-bottom" [ngClass]="{active: selectedSetType === setType.sale}">
    <a (click)="selectSetType(setType.sale)">Sản phẩm đang sale</a>
  </div>
  <div class="pt-4 pl-3 border-bottom" [ngClass]="{active: selectedSetType === setType.mostLike}">
    <a (click)="selectSetType(setType.mostLike)">Sản phẩm thích nhiều</a>
  </div>
  <!-- <div class="pt-4 pl-3 border-bottom">
    <a (click)="isMaleCollapsed = !isMaleCollapsed">Nam</a>
  </div>
  <div class="pt-4 pl-3" [collapse]="isMaleCollapsed">
    <div>
      <div>
        <p class="mb-1"><a>Quần áo</a></p>
        <div class="sub-category pl-4">
          <p><a>Váy đầm</a></p>
          <p><a>Áo</a></p>
          <p><a>Áo len</a></p>
          <p><a>Hoodies & áo nỉ</a></p>
          <p><a>Quần jean</a></p>
          <p><a>Quàn dài</a></p>
          <p><a>Váy</a></p>
          <p><a>Quần short</a></p>
          <p><a>Xà cạp</a></p>
          <p><a>Hoạt động</a></p>
          <p><a>Đồ tắm & Bìa Ups</a></p>
          <p><a>Đồ lót & đồ ngủ</a></p>
          <p><a>Jumpsuits Quần yếm</a></p>
          <p><a>Áo khoác, áo jacket</a></p>
          <p><a>Áo ghi lê</a></p>
          <p><a>Suiting & Blazers</a></p>
          <p><a>Socks & dệt kim</a></p>
        </div>
      </div>
    </div>
    <div>
      <div>
        <p class="mb-1"><a>Đôi giày</a></p>
        <div class="sub-category pl-4">
          <p><a>Khỏe mạnh</a></p>
          <p><a>Giày ống</a></p>
          <p><a>Sneakers thời trang</a></p>
          <p><a>Flats</a></p>
          <p><a>Giày đi dạo & Slips-Ons</a></p>
          <p><a>Mules & guốc</a></p>
          <p><a>Ngoài trời</a></p>
          <p><a>Oxfords</a></p>
          <p><a>bơm</a></p>
          <p><a>Dép xăng đan</a></p>
          <p><a>Dép lê</a></p>
        </div>
      </div>
    </div>
    <div>
      <div>
        <p class="mb-1"><a>Túi xách & ví</a></p>
        <div class="sub-category pl-4">
          <p><a>Clutches</a></p>
          <p><a>Túi đeo vai</a></p>
          <p><a>Ví tiền</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-4 pl-3 border-bottom">
    <a (click)="isFemaleCollapsed = !isFemaleCollapsed">Nữ</a>
  </div>
  <div class="pt-4 pl-3" [collapse]="isFemaleCollapsed">
    <div>
      <div>
        <p class="mb-1"><a>Quần áo</a></p>
        <div class="sub-category pl-4">
          <p><a>Váy đầm</a></p>
          <p><a>Áo</a></p>
          <p><a>Áo len</a></p>
          <p><a>Hoodies & áo nỉ</a></p>
          <p><a>Quần jean</a></p>
          <p><a>Quàn dài</a></p>
          <p><a>Váy</a></p>
          <p><a>Quần short</a></p>
          <p><a>Xà cạp</a></p>
          <p><a>Hoạt động</a></p>
          <p><a>Đồ tắm & Bìa Ups</a></p>
          <p><a>Đồ lót & đồ ngủ</a></p>
          <p><a>Jumpsuits Quần yếm</a></p>
          <p><a>Áo khoác, áo jacket</a></p>
          <p><a>Áo ghi lê</a></p>
          <p><a>Suiting & Blazers</a></p>
          <p><a>Socks & dệt kim</a></p>
        </div>
      </div>
    </div>
    <div>
      <div>
        <p class="mb-1"><a>Đôi giày</a></p>
        <div class="sub-category pl-4">
          <p><a>Khỏe mạnh</a></p>
          <p><a>Giày ống</a></p>
          <p><a>Sneakers thời trang</a></p>
          <p><a>Flats</a></p>
          <p><a>Giày đi dạo & Slips-Ons</a></p>
          <p><a>Mules & guốc</a></p>
          <p><a>Ngoài trời</a></p>
          <p><a>Oxfords</a></p>
          <p><a>bơm</a></p>
          <p><a>Dép xăng đan</a></p>
          <p><a>Dép lê</a></p>
        </div>
      </div>
    </div>
    <div>
      <div>
        <p class="mb-1"><a>Túi xách & ví</a></p>
        <div class="sub-category pl-4">
          <p><a>Clutches</a></p>
          <p><a>Túi đeo vai</a></p>
          <p><a>Ví tiền</a></p>
        </div>
      </div>
    </div>
  </div> -->
</div>
