<form class="p-5">
  <fieldset>
    <legend>
      Manage Category
    </legend>
    <table class="table table-responsive table-hover table-dark">
      <thead>
        <tr>
          <th><h3>#</h3></th>
          <th><h3>Name</h3></th>
          <th><h3>Order</h3></th>
          <th><a (click)="openAddParentCategoryDialog()"><i class="material-icons">add_circle</i></a></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let parentCategory of categories; let i = index">
          <tr style="cursor: pointer" (click)="listCollapsed[parentCategory.id] = !listCollapsed[parentCategory.id]">
            <td><h4>{{ i + 1 }}</h4></td>
            <td><h4>{{ parentCategory.name }}</h4></td>
            <td><h4>{{ parentCategory.order }}</h4></td>
            <td>
              <a (click)="openEditParentCategoryDialog($event, parentCategory)"><i class="material-icons tex-white">mode_edit</i></a>
              <a (click)="openDeleteParentCategoryDialog($event, parentCategory.id)"><i class="material-icons">delete_forever</i></a>
            </td>
          </tr>
          
          <!-- male category -->
          <ng-container>
            <tr class="bg-dark-custom" [collapse]="listCollapsed[parentCategory.id]">
              <td colspan="4"># {{ gender.male.name }}</td>
            </tr>
            <tr class="bg-custom" [collapse]="listCollapsed[parentCategory.id]">
              <td>Name</td>
              <td>Order</td>
              <td>Active</td>
              <td>
                <a (click)="openAddCategoryDialog(parentCategory.id, gender.male.id)"><i class="material-icons">add_circle</i></a>
              </td>
            </tr>
            <tr class="bg-custom" *ngFor="let category of parentCategory.male_cate" [collapse]="listCollapsed[parentCategory.id]">
              <td>{{ category.name }}</td>
              <td>{{ category.order }}</td>
              <td><mat-checkbox [checked]="category.active" readonly="readonly" click-prevent-default></mat-checkbox></td>
              <td>
                <a (click)="openEditCategoryDialog(category, parentCategory.id, gender.male.id)"><i class="material-icons tex-white">mode_edit</i></a>
                <a (click)="openDeleteCategoryDialog(category.id)"><i class="material-icons">delete_forever</i></a>
              </td>
            </tr>
          </ng-container><!-- end male category -->

          <!-- female category -->
          <ng-container>
            <tr class="bg-dark-custom" [collapse]="listCollapsed[parentCategory.id]">
              <td colspan="4"># {{ gender.female.name }}</td>
            </tr>
            <tr class="bg-custom" [collapse]="listCollapsed[parentCategory.id]">
              <td>Name</td>
              <td>Order</td>
              <td>Active</td>
              <td>
                <a (click)="openAddCategoryDialog(parentCategory.id, gender.female.id)"><i class="material-icons">add_circle</i></a>
              </td>
            </tr>
            <tr class="bg-custom" *ngFor="let category of parentCategory.female_cate" [collapse]="listCollapsed[parentCategory.id]">
              <td>{{ category.name }}</td>
              <td>{{ category.order }}</td>
              <td><mat-checkbox [checked]="category.active" readonly="readonly" click-prevent-default></mat-checkbox></td>
              <td>
                <a (click)="openEditCategoryDialog(category, parentCategory.id, gender.female.id)"><i class="material-icons tex-white">mode_edit</i></a>
                <a (click)="openDeleteCategoryDialog(category.id)"><i class="material-icons">delete_forever</i></a>
              </td>
            </tr>
          </ng-container><!-- end female category -->

        </ng-container>
      </tbody>
    </table>
  </fieldset>
</form>
