<div class="left-navbar md-mix-dark-500-bg initialized">
  <div class="navbar-header d-flex align-items-center justify-content-between">
    <div class="logo d-flex flex-row align-items-center">
      <span class="logo-icon">M</span>
      <span class="logo-text">MIX</span>
    </div>
    <button class="mat-icon-button mat-button" md-icon-button>
      <md-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</md-icon>
    </button>
  </div>

  <div class="navbar-content">
    <div class="mix-nav">
      <div class="nav-subheader d-flex align-items-center">
        <span class="hint-text text-uppercase">Menu</span>
      </div>
      <div class="nav-collapse nav-item" [ngClass]="{'open': !isCollapsed}">
        <a class="nav-link d-flex align-items-center w-100" (click)="isCollapsed = !isCollapsed">
          <md-icon class="nav-link-icon mat-icon material-icons d-flex align-items-center">dashboard</md-icon>
          <span class="nav-link-title">
            Dashboards
          </span>
          <md-icon class="collapse-arrow mat-icon materials-icon d-flex align-items-center">keyboard_arrow_right</md-icon>
        </a>
        <div [collapse]="isCollapsed" class="collapse-children">
          <button md-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/upload" routerLinkActive="active-aside-menu">
            Upload
          </button>
          <button md-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/product" routerLinkActive="active-aside-menu">
            Product
          </button>
          <!-- <button md-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/group-product" routerLinkActive="active-aside-menu">
            Group Product
          </button> -->
          <button md-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/category" routerLinkActive="active-aside-menu">
            Category
          </button>
          <button md-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/collection" routerLinkActive="active-aside-menu">
            Collection
          </button>
          <button md-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/feature" routerLinkActive="active-aside-menu">
            Feature
          </button>
          <button md-button class="nav-link d-flex align-items-center w-100" routerLink="/admin/dashboard/supplier" routerLinkActive="active-aside-menu">
            Shop
          </button>
        </div>
      </div>
    </div>
  </div>
</div>