@import '../../../../../assets/styles/modal-dark.scss';

p {
    font-size: 1.4rem;
}

.text-right {
    border-right: 1px solid #7b7b7b;
}

a {
    color: #7b7b7b !important;
}

.modal-content {
    background-color: #222;
}
