:host {
    display: block;
}

.user-cover {
    position: relative;
}

.user-cover-bg {
    z-index: 10;
    top: 0;
    position: absolute;
    opacity: 0.23;
    left: 0;
    background-color: #030303;
}

.user-cover-info {
    z-index: 10;
    top: 0;
    position: absolute;
    left: 0;
    cursor: pointer;    

    .user-name {
        margin-bottom: 1vw;
        font-size: 2.5vw;
    }

    p {
        margin-bottom: 0.5vw;
        font-size: 1.2vw;
        color: #f2f1f0;
    }
}

.user-avatar {
    z-index: 10;
    width: 10vw;
    position: absolute;
    left: 1vw;
    cursor: pointer;
    bottom: -4.5vw;
}

.user-page-body {
    padding-top: 10vw;
}
