<div class="supplier-cover">
  <div class="image-wrapper image-17-4">
    <img src="/assets/imgs/shop2background.jpg" alt="" />
  </div>
  <div class="supplier-cover-bg w-100 h-100">
  </div>
  <div class="supplier-cover-info w-100 h-100 d-flex align-items-center justify-content-center">
    <div>
      <h1 class="text-uppercase supplier-name"><a>decao</a></h1>
      <p class="font-italic"><a><i class="fa fa-map-marker mr-3"></i>Số 69, Bà Triệu, Hai Bà Trưng, Hà Nội</a></p>
      <p class="font-italic"><a><i class="fa fa-phone mr-3"></i>0169696969669</a></p>
      <p class="font-italic"><a><i class="fa fa-clock-o mr-3"></i>Mở cửa: 9AM - 9PM</a></p>
    </div>
  </div>
  <div class="supplier-avatar">
    <div class="image-wrapper image-1-1">
      <img src="/assets/imgs/shop2avatar.jpg" alt="" />
    </div>
  </div>
</div>

<mix-body></mix-body>
