.bg-custom {
    background-color: #3B3738;
}

.bg-dark-custom {
    background-color: #191919;
}

tr {
    &.show {
        display: table-row !important;
    }
}

.modal-content {
    opacity: unset;
}
