<h1 class="mat-dialog-title">Add Feature</h1>

<form [formGroup]="addFeatureForm">
  <div class="mat-dialog-content">
    <div class="row">
      <div class="col-md-6">
        <md-form-field class="w-100" color="accent">
          <input type="text" mdInput formControlName="name" placeholder="Name" required="required" />
        </md-form-field>
      </div>
      <div class="col-md-6">
        <md-form-field class="w-100" color="accent">
          <input type="number" mdInput formControlName="order" placeholder="Order" required="required" />
        </md-form-field>
      </div>
    </div>
    <div class="row">
      <div class="text-right col-12">
        <md-checkbox formControlName="active">Active</md-checkbox>
      </div>
    </div>
  </div>
  <div class="mat-dialog-actions justify-content-end">
    <button md-raised-button color="accent" type="submit" (click)="onSubmit()">Add</button>
    <button md-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
  </div>
</form>
