@import '../../../../../../assets/styles/_variables.scss';

:host {
    display: block;
}

.top-nav {
    background-color: $header-color;
}

.mix-logo {
    img {
        width: 55px;
        height: 25px;
    }
}

.dropdown-menu {
    opacity: 0.98;
    min-width: 12rem;
    border-radius: unset;
    background-color: $menu-background-color;
    li {
        padding: 0 0 0 0.8125rem;

        &:hover {
            background-color: $link-hover-color;
        }

        a {
            padding: 0.7rem 0 0.5rem;
            color: #eae5e5;
            border-bottom: 1px solid $border-color;
        }
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
