<div class="search-box-container d-flex align-items-center m-auto pb-1" [ngClass]="{'w-75': !isMobile, 'w-100': isMobile}">
  <div class="w-100 d-flex flex-wrap search-box">
    <mix-search-tagging-list>
    </mix-search-tagging-list>
    
    <input type="text" placeholder='Nhập hoặc chọn "Menu" bên dưới để tìm sản phẩm' class="mx-1" />
    <div class="d-flex align-items-center search-icon">
      <img src="http://i.imgur.com/lga22vW.png" alt="search-icon" />
    </div>
  </div>
</div>
